<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mongo Scraper</title>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- MATERIALIZE -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		 <!-- Compiled and minified CSS -->
   		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.css">
	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.js"></script>

		<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
		<script src="/assets/js/client.js"></script>
		<!-- SCALE SCALE SCALE -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>